# Node.js
node_modules/

# React Native
/android/
/ios/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Log files
*.log

# Dependency directories
/bin/
/lib/
/local/
/obj/

# Gradle files
.gradle/
build/